<div class="content">
  <div class="static-info">
    <div class="static-header">
      <h4>Registrer fravær</h4>
    </div>
    <div class="static-content">
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #fravaerForm="ngForm">

          <div class="form-group">
            <b>Ansatt:</b>
            <select class="select-form form-control" id="fornavn" required [(ngModel)]="selectedUser" name="fornavn">
              <option *ngFor="let user of users" [value]="user.brukerId">{{user.fornavn}} {{user.etternavn}}</option>
            </select>
          </div>


          <form class="form-inline">
            <b>Dato:</b>
            <br>
            <div class="form-group">
              <div class="input-group">
                <input id="dateform" class="form-control" (focus)="d.open()" placeholder="Velg en dato →"
                       name="dp" [ngModel]="timeObject" (ngModelChange)="refreshVakter($event)"
                       ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-addon" (click)="d.toggle()" style="cursor: pointer;">
                  <div class="glyphicon glyphicon-calendar" style="width: 1.2rem; height: 1rem;"></div>
                </div>
              </div>
            </div>
          </form>
          (Evt. skriv dato på formen yyyy-MM-DD)
          <br><br>
          <div class="datoer">
            <div class="fra">
              <b>Tidspunkt (fra):</b>
              <ngb-timepicker [(ngModel)]="fromTime" name="fraTidTime"></ngb-timepicker>
            </div>
            <br>
            <div class="til">
              <b>Tidspunkt (til):</b>
              <ngb-timepicker [(ngModel)]="toTime" name="tilTidTime"></ngb-timepicker>
            </div>
          </div>

          <ul class="vakter">
            <h4><b>Velg vakt</b></h4>
            <div>Velg en dato for å se brukerens vakter den dagen</div>
            <li *ngFor="let vakt of vaktliste" (click)="onSelect(vakt)"
                [class.selected]="vakt === selectedVakt">
              <span class="badge">{{vakt.vaktId}}</span>
              <span>{{vakt.fraTid}}</span>
            </li>
          </ul>

          <input-field [field]='"Kommentar:"' [(fieldValue)]="model.kommentar" id="drittFelt"></input-field>
          <button type="button" class="btn btn-default btn-primary" (click)="onSubmit()" [disabled]="!fravaerForm.valid">Registrer fravær</button>
        </form>
      </div>
    </div>
  </div>
</div>
