<div id="passwordPopup" class="container">
  <div class="row">
    <form class="form-signin mg-btm" name="form2">
      <h1 class="heading-thin">Tilbakestill passord</h1>
      <div class="main">
        Oppgi email-adressen din for å få tilsendt en mail angående brukernavn/passord.
        <input type="text" class="form-control" id="recipient" placeholder="Email" autofocus
               [(ngModel)]="model.recipient" #recipient="ngModel" name="recipient">
        <div [hidden]="recipient.valid || recipient.pristine"
             class="alert alert-danger">
          Oppgi epostadresse.
        </div>
        <div class="btn-foot">
          <button type="submit" class="btn btn-large btn-primary pull-right"
                  (click)="forgotPassword()">Send forespørsel</button>
          <button type="button" class="btn btn-large btn-primary pull-left" (click)="cancel()" data-dismiss="passwordPopup">Avbryt</button>
        </div>
      </div>
    </form>
  </div>
</div>
