<div>
  <div class="content">

    <div class="static-info pull-left">
      <div class="static-header">
        <h4>Personlig informasjon</h4>
      </div>
      <div class="static-content">
        <div class="name">
          <div class="first-name">
            <input-field [field]='"Fornavn"' [disabled]="!isAdmin" [(fieldValue)]="user.fornavn"></input-field>
          </div>
          <div class="last-name">
            <input-field [field]='"Etternavn"' [disabled]="!isAdmin" [(fieldValue)]="user.etternavn"></input-field>
          </div>
        </div>
        <!--<div class="birthdate">
          <input-field [field]='"Fødselsdato"' [disabled]="!isAdmin" [(fieldValue)]="user.fodselsdato"></input-field>
        </div>-->
        <div class="stilling">
          <div class="stilling-navn">
            <input-field [field]='"Stilling"' [disabled]="!isAdmin" [(fieldValue)]="user.stillingsBeskrivelse"></input-field>
          </div>
          <div class="stillingsprosent">
            <input-field [field]='"Stillingsprosent"' [disabled]="!isAdmin" [(fieldValue)]="user.stillingsProsent"></input-field>
          </div>
          <div class="stillingsprosent">
            <input-field [field]='"Timelønn"' [disabled]="!isAdmin" [(fieldValue)]="user.timelonn"></input-field>
          </div>
        </div>
        <div class="department">
          <select class="select-form form-control" id="avdeling" required [(ngModel)]="user.avdelingId" name="navn">
            <option *ngFor="let avd of avdelinger" [value]="avd.avdelingId">{{avd.navn}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dynamic-info">
      <div class="dynamic-header">
        <h4>Kontaktinformasjon</h4>
      </div>
      <div class="dynamic-content">
        <div class="contact-info">
          <div class="phone">
            <input-field [field]='"Telefonnummer:"' [(fieldValue)]="user.telefonNr"></input-field>
          </div>
          <div class="email">
            <input-field [field]='"Epost:"' [(fieldValue)]="user.epost"></input-field>
          </div>
        </div>
        <div class="password">
          <div class="password-one">
            <input-field [field]='"Passord:"' [(fieldValue)]="user.plaintextPassord"></input-field>
          </div>
          <div class="password-two">
            <input-field [field]='"Gjenta passord:"' [(fieldValue)]="pass2"></input-field>
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-primary" (click)="submit()">Oppdater profil
        </button>
      </div>
    </div>
  </div>
</div>

